@import "tailwindcss";

:root {
  --color-purple-primary: #953fcf;
  --color-purple-secondary: #8b54d7;
  --color-purple-light: #edd2ff;
  --color-blue-light: #6dd2ff;
  --color-purple-mid: #787ee7;
  --color-black: #000000;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
